body{
  padding: 0 1rem;
}
.task-input{
  width: 150px;
}
::-webkit-scrollbar-corner {
  background: rgba(0,0,0,0);
}

.task-timeLeftLabel{
  position: absolute;
  padding-left: 0.25rem;
}
.task-message{
  height: 60%;
  overflow-y: scroll;
}
.task-remove{
  position: absolute;
  margin: -1.25rem;
  background-color: red;
}
.task-message::-webkit-scrollbar{
  width: 5px;
  background: lightgray;
  border-radius: 10px;
}
.task-message::-webkit-scrollbar-thumb {
  background: #5e5e5e; 
  border-radius: 10px;
}
#task-list{
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.task-container{
  white-space: normal;
  width: 305px;
  height: 200px;
}
.task-label{
  height: 25%;
  font-size: 24px;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.task-barOuter{
  width: 100%;
  height: 15%;
  border: black 1px solid;
  display: flex;
  align-items: center;
}
.task-barInner{
  background-color: lightgreen;
  height: 100%;
}

#current-task{
  pointer-events: none;
  display: flex;
  position: fixed;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
}
#current-task-container{
  pointer-events: all;
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 50vh;
  background-color: #00d1b2;
  color: white;
  padding: 0.5rem;
  min-width: 305px;
  min-height: 245px;
}
#current-task-done-btn{}
#current-task-label{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 28px;
  font-weight: 600;
  padding: 0 1rem;
}
#current-task-msg{
  overflow-y: scroll;
  padding: 0 1rem;
  height: 70%;
}
#current-task-msg::-webkit-scrollbar{
  width: 5px;
  background: lightgreen;
  border-radius: 10px;
}
#current-task-msg::-webkit-scrollbar-thumb {
  background: #37cc6e; 
  border-radius: 10px;
}
